/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 Flexport Co., ltd
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --green-blue-crayola: hsla(241, 68%, 47%, 0.932);
    --prussian-blue: hsl(202, 72%, 15%);
    --eerie-black: hsl(210, 11%, 15%);
    --dark-orange: hsla(246, 83%, 48%, 0.829);
    --alice-blue: hsl(229, 100%, 50%);
    --light-gray: hsl(0, 0%, 80%);
    --indigo-dye: hsl(202, 64%, 26%);
    --cultured-1: hsl(0, 0%, 94%);
    --cultured-2: hsl(0, 0%, 95%);
    --cultured-3: hsl(0, 0%, 95%);
    --plutinum: hsl(0, 0%, 91%);
    --black_60: hsla(0, 0%, 0%, 0.6);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 24%);
    --gold-crayola: hsl(38, 61%, 73%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);

    /**
   * GRADIENT COLOR
   */

  --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
  --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);

  /* font-family */
  --fontFamily-forum: 'Forum', cursive;
  --fontFamily-dm_sans: 'DM Sans', sans-serif;
  --ff-oswald: 'Poppins', sans-serif;
  --ff-rubik: 'Mulish', sans-serif;

  /* font-size */
  --fontSize-display-1: calc(1.3rem + 6.7vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 1.6rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;

  
    /**
     * typography
     */
  
    --fs-1: 6rem;
    --fs-2: 5rem;
    --fs-3: 4rem;
    --fs-4: 3rem;
    --fs-5: 2.2rem;
    --fs-6: 2rem;
    --fs-7: 1.8rem;
    --fs-8: 1.5rem;
    --fs-9: 1.4rem;
    --fs-10: 1.2rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

     /* font-weight */
  --weight-regular: 400;
  --weight-bold: 700;

  /* line-height */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* letter-spacing */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;
  
    /**
     * spacing
     */
  
    --section-padding: 50px;
    --section-space: 70px;
  
    /**
     * shadow
     */
     
    --shadow-1: 2px 0 50px hsla(0, 0%, 0%, 0.2);
    --shadow-2: 0px 40px 60px hsla(244, 100%, 49%, 0.767);
    --shadow-3: 0px 0px 60px hsla(202, 75%, 47%, 0.5);

    /**
   * BORDER RADIUS
   */

  --radius-24: 24px;
  --radius-circle: 50%;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;
  
  }

  
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a,
  img,
  time,
  span,
  input,
  button,
  ion-icon { display: block; }
  
  img { height: auto; }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  input { width: 100%; }
  
  button { cursor: pointer; }
  
  ion-icon { pointer-events: none; }
  
  html {
    font-family: var(--ff-rubik);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--white);
    color: var(--onyx);
    font-size: 1.6rem;
    line-height: 1.7;
  }
  
  :focus-visible { outline-offset: 4px; }
  
  ::-webkit-scrollbar { width: 12px; }
  
  ::-webkit-scrollbar-track { background-color: var(--cultured-2); }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);
    border: 2px solid var(--cultured-2);
  }
  
  ::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
  
  
  
  
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 15px; }
  
  .section { padding-block: var(--section-padding); }
  
  .h1,
  .h2,
  .h3 {
    font-family: var(--ff-oswald);
    line-height: 1.2;
    font-weight: var(--fw-600);
  }
  
  .h1 {
    font-size: var(--fs-3);
    text-transform: uppercase;
  }
  
  .h2,
  .h3 { color: var(--prussian-blue); }
  
  .h2 { font-size: var(--fs-4); }
  
  .h3 { font-size: var(--fs-5); }
  
  .img-holder {
    background-color: var(--light-gray);
    aspect-ratio: var(--width) / var(--height);
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .section-subtitle {
    color: var(--dark-orange);
    text-transform: uppercase;
    font-size: var(--fs-6);
    font-family: var(--ff-oswald);
    font-weight: var(--fw-600);
    letter-spacing: 3px;
    margin-block-end: 10px;
  }
  
  .section-text { line-height: 1.4; }
  
  .btn {
    position: relative;
    color: var(--white);
    font-family: var(--ff-oswald);
    background-color: var(--dark-orange);
    max-width: max-content;
    font-size: var(--fs-9);
    letter-spacing: 1px;
    padding-block: 10px;
    padding-inline: 15px 50px;
  }
  
  .btn::before,
  .btn::after {
    content: "";
    position: absolute;
    transition: var(--transition);
  }
  
  .btn::before {
    top: 50%;
    right: 15px;
    width: 25px;
    height: 1px;
    background-color: var(--white);
  }
  
  .btn::after {
    top: -6px;
    right: -6px;
    bottom: -6px;
    width: 20px;
    border: 2px solid var(--dark-orange);
    z-index: -1;
  }
  
  .btn:is(:hover, :focus)::before { width: 33px; }
  
  .btn:is(:hover, :focus)::after { width: 40px; }
  
  .grid-list {
    display: grid;
    gap: 30px;
  }
  
  .btn-link {
    color: var(--dark-orange);
    font-size: var(--fs-7);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
  }
  
  .btn-link > * {
    transform: translateX(-22px);
    transition: var(--transition);
  }
  
  .btn-link:is(:hover, :focus) > * { transform: translateX(0); }
  
  .w-100 { width: 100%; }
  

  /*-----------------------------------*\
  #PRELOAD
\*-----------------------------------*/

.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  z-index: 10;
  display: grid;
  place-content: center;
  justify-items: center;
  transition: var(--transition-2);
}

.preload > * { transition: var(--transition-1); }

.preload.loaded > * { opacity: 0; }

.preload.loaded {
  transition-delay: 250ms;
  transform: translateY(100%);
}

.circle {
  width: 112px;
  height: 112px;
  border-radius: var(--radius-circle);
  border: 3px solid var(--white);
  border-block-start-color: var(--smoky-black-3);
  margin-block-end: 45px;
  animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% { transform: rotate(0); }
  100% { transform: rotate(1turn); }
}

.preload .text {
  background-image: var(--loading-text-gradient);
  background-size: 800%;
  font-size: calc(2rem + 3vw);
  font-weight: var(--weight-bold);
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 16px;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px var(--eerie-black-3);
  animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
  0% { background-position: 100%; }
  100% { background-position: 0%; }
}

  
  
  
  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  .header-contact { display: none; }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 5px;
    z-index: 4;
    transition: var(--transition);
    
  }
  
  .header.active { background-color: var(--plutinum); }
  
  
  .header .container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
  }
  
  .logo  img {
    max-width: 200px;
    height: auto;
  }
  
  .nav-open-btn {
    color: var(--black);
    font-size: 35px;
  }
  
  .nav-open-btn ion-icon { --ionicon-stroke-width: 40px; }
  
  .navbar {
    position: fixed;
    top: 0;
    left: -300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    box-shadow: var(--shadow-1);
    z-index: 3;
    visibility: hidden;
    transition: 0.25s var(--cubic-in);
    font-family: var(--ff-oswald);
  }
  
  .navbar.active {
    visibility: visible;
    transform: translateX(300px);
    transition: 0.5s var(--cubic-out);
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block-end: 1px solid var(--plutinum);
    padding: 30px 20px;
  }
  
  .navbar-top .logo {
    color: var(--onyx);
    font-size: 3rem;
  }
  
  .nav-close-btn { font-size: 25px; }
  
  .nav-close-btn ion-icon { --ionicon-stroke-width: 40px; }
  
  .navbar-item:not(:last-child) { border-block-end: 1px solid var(--plutinum); }
  
  .navbar-link {
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: var(--transition);
  }
  
  .navbar-link:is(:hover, :focus) {
    background-color: var(--cultured-1);
    color: var(--dark-orange);
  }
  
  .overlay {
    position: fixed;
    inset: 0;
    background-color: var(--black_60);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
  }
  
  .overlay.active {
    visibility: visible;
    opacity: 1;
  }

  


   /*-----------------------------------*\
    #COKKIE
  \*-----------------------------------*/
  
  
  
  /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  
  .hero {
    position: relative;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    padding-block-start: calc(var(--section-padding) + 85px);
    z-index: 1;
  }

  .hero-2 {
    position: relative;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    padding-block-start: calc(var(--section-padding) + 85px);
    z-index: 1;
  }
  
  .hero-content {
    background-color: var(--black_60);
    color: var(--white);
    text-align: center;
    padding: 30px;
  }
  
  .hero-title .span {
    color: var(--dark-orange);
    font-size: var(--fs-2);
    font-weight: var(--fw-700);
  }
  
  .hero-text { margin-block: 20px 15px; }
  
  .btn-outline {
    max-width: max-content;
    margin-inline: auto;
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    border: 1px solid var(--green-blue-crayola);
    padding: 8px 20px;
    transition: var(--transition);
  }

  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid rgb(25, 0, 255);
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid rgb(17, 0, 255);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }


  
  /*-----------------------------------*\
    #track home page
  \*-----------------------------------*/

  .tracking { margin-block-start: 110px; }
   
     .tracking-content {
       max-width: 555px;
       margin-inline-start: auto;
     }
   
     .track-btn {
       font-size: var(--fs-5);
       padding: 10px 30px;
     }
     newsletter { background-color: var(--dark-orange); }
  
  .Track-field {
    background-color: var(--white);
    color: var(--eerie-black);
    font-family: var(--ff-rubik);
    font-size: var(--fs-9);
    height: 65px;
    padding-inline: 20px;
    margin-block-end: 10px;
    outline: none;
    transition: var(--transition);
  }
  
  .track-field:focus { box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.4); }
  
  .track-btn {
    background-color: var(--green-blue-crayola);
    color: var(--white);
    font-family: var(--ff-oswald);
    font-weight: var(--fw-700);
    padding: 8px 20px;
  }

  /*-----------------------------------*\
    #track ori page
  \*-----------------------------------*/

  .tracking-2 { margin-block-start: 110px; }
   
     .tracking-content-2 {
       max-width: 5555px;
       margin-inline-start: auto;
     }
   
     .track-btn-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--fs-5);
      padding: 10px 30px;
     }
     newsletter { background-color: var(--dark-orange); }
  
  .Track-field-2 {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--ff-rubik);
    font-size: var(--fs-9);
    height: 65px;
    padding-inline: 20px;
    margin-block-end: 10px;
    outline: none;
    transition: var(--transition);
    box-shadow: var(--shadow-2);
  }
  
  .track-field-2:focus { box-shadow: 0 2px 2px hsla(0, 0%, 100%, 0.4); }
  
  .track-btn-2 {
    background-color: var(--green-blue-crayola);
    color: var(--white);
    font-family: var(--ff-oswald);
    font-weight: var(--fw-700);
    padding: 10px 30px;
  }
    
  
  .btn-outline:is(:hover, :focus) {
    background-color: var(--dark-orange);
    border-color: var(--dark-orange);
  }
  
  .hero-shape {
    position: absolute;
    z-index: -1;
    animation: move 2s ease-in-out infinite alternate;
  }
  
  .hero .shape-1 {
    top: 100px;
    left: 30px;
  }
  
  .hero .shape-2 {
    bottom: 80px;
    right: 30px;
  }
  
  @keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
  }

  
  /*-----------------------------------*\
    #ABOUT
  \*-----------------------------------*/
  
  .about-banner {
    position: relative;
    box-shadow: var(--shadow-2);
    max-width: 300px;
    margin-block-end: 60px;
    animation: move 3s ease-in-out infinite alternate;
  }
  
  .about .abs-img-2 { display: none; }
  
  .about .abs-img-1 {
    position: absolute;
    bottom: 40px;
    right: 0;
    animation: move 2s ease-in-out infinite alternate;
  }
  
  .about :is(.section-title, .section-text) { margin-block-end: 20px; }
  
  .about-list { margin-block-end: 40px; }
  
  .about-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  
  .about-text { font-size: var(--fs-8); font-family: var(--ff-rubik);}
  
  .about-icon {
    min-width: max-content;
    color: var(--dark-orange);
    margin-block-start: 8px;
  }
  
  .about-item:not(:last-child) { margin-block-end: 10px; }
  
  
  
  
  
  /*-----------------------------------*\
    #SERVICE
  \*-----------------------------------*/
  
  .service { background-color: transparent }
  
  .service :is(.section-subtitle, .section-title, .section-text) { text-align: center; }
  
  .service .section-title { margin-block-end: 20px; }
  
  .service .section-text { margin-block-end: 50px; }
  
  .service-card {
    background-color: var(--white);
    padding: 30px;
    border: 20px solid var(--cultured-3);
    transition: var(--transition);
  }
  
  .service-card:is(:hover, :focus-within) { border-color: var(--dark-orange); }
  
  .service-card .card-icon { margin-block-end: 30px; }
  
  .service-card .card-title .span {
    display: inline-block;
    color: var(--dark-orange);
    font-size: var(--fs-3);
    margin-inline-end: 15px;
  }
  
  .service-card .card-text { margin-block: 10px 20px; font-family: var(--ff-rubik); }
  
  
  
  
  /*-----------------------------------*\
    #FEATURE
  \*-----------------------------------*/
  
  .feature .title-wrapper { margin-block-end: 30px; }
  
  .feature .section-text { margin-block: 20px 40px; }
  
  .feature-card {
    position: relative;
    padding: 30px;
    text-align: center;
    border: 1px solid var(--alice-blue);
    transition: var(--transition);
  }
  
  .feature-card:is(:hover, :focus-within) { box-shadow: var(--shadow-2); }
  
  .feature-card::before {
    content: var(--card-number);
    color: var(--cultured-1);
    font-family: var(--ff-oswald);
    font-size: var(--fs-1);
    font-weight: var(--fw-700);
    line-height: 1;
    transition: var(--transition);
  }
  
  .feature-card:is(:hover, :focus-within)::before { color: var(--dark-orange); }
  
  .feature-card .card-icon {
    background-color: var(--alice-blue);
    width: 170px;
    height: 170px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    margin-inline: auto;
    margin-block-end: 30px;
  }
  
  .feature-card .card-text { margin-block: 20px 40px; font-family: var(--ff-rubik); }
  
  .feature-card .card-btn {
    color: var(--prussian-blue);
    font-size: 24px;
    border: 2px solid var(--prussian-blue);
    max-width: max-content;
    margin-inline: auto;
    padding: 10px 18px;
  }
  
  
  /*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta {
  background: linear-gradient(to bottom, var(--white) 50%, var(--plutinum) 50%);
}

.cta-card {
  background: var(--green-blue-crayola);
  padding: 50px 25px;
  box-shadow: var(--shadow-2);
}

.cta-card .card-content {
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.cta-card .card-title {
  color: var(--black);
  line-height: 1.3;
  margin-bottom: 15px;
}

.cta-card .card-text {
  color: var(--white);
  font-size: var(--fs-5);
  font-family: var(--ff-rubik);
  line-height: 1.8;
}

.cta-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--red-soda);
  background: var(--white);
  box-shadow: var(--shadow-2);
  border-color: var(--white);
  margin-inline: auto;
}

.cta-btn:is(:hover, :focus) {
  background: none;
  color: var(--white);
  border-color: transparent;
}

.cta-btn::before { background: var(--black); }
  
/*-----------------------------------*\
    #TERMS AND COMDITIONS
  \*-----------------------------------*/

  :root {
    --bg-clr: #394168;
    --white: #fff;
    --title-clr: #394168;
    --pry-text-clr: #b3b3b3;
    --scn-text-clr: #838384;
    --btn-hvr-clr: #5363b0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--ff-oswald)
  }
  
  .flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tc_main{
    margin: 20px 0;
    width: 900px;
    max-width: 100%;
    height: 950px;
    background: var(--white);
    text-align: center;
    box-shadow: var(--shadow-2);
  }
  
  .tc_main .title{
    color: var(--green-blue-crayola);
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .tc_main .title-1{
    color: var(--black);
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }

  
  .tc_main .tc_content .tc_bottom .title{
    font-size: 30px;
    line-height: 26px;
  }
  
  .tc_main .tc_content{
    width: 100%;
    margin: 35px 0;
    height: calc(550px - 150px);
  }
  
  .tc_main .tc_btns{
    width: 100%;
    height: 80px;
    padding: 21px 0;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
  }
  
  .tc_main .tc_content .tc_top{
    margin: 0 35px 35px;
  }
  
  .tc_main .tc_content .tc_bottom{
    padding: 0 35px;
    overflow: auto;
    height: calc(100% - 210px);
  }
  
  .tc_main .tc_content .tc_top .icon{
    font-size: 42px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--title-clr);
  }
  
  .tc_main .tc_content .tc_top .info{
    color: var(--scn-text-clr);
  }
  
  .tc_main .tc_content .tc_bottom .info p{
    margin-bottom: 10px;
  }
  
  .tc_main .tc_btns button{
    width: 125px;
    padding: 10px;
    margin: 0 10px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.5s ease;
  }
  
  .tc_main .tc_btns button.accept{
    background: var(--title-clr);
    color: var(--white);
  }
  
  .tc_main .tc_btns button.decline{
    border: 1px solid var(--title-clr);
    background: transparent;
    color: var(--title-clr);
  }
  
  .tc_main .tc_btns button.decline:hover{
    background: var(--title-clr);
    color: var(--white);
  }
  
  .tc_main .tc_btns button.accept:hover{
    background: var(--btn-hvr-clr);
  }


  
  
  
  /*-----------------------------------*\
    #BLOG
  \*-----------------------------------*/
  
  .blog :is(.section-subtitle, .section-title, .section-text) { text-align: center; }
  
  .blog .section-text { margin-block: 20px 50px; }
  
  .blog-card .card-content { position: relative; }
  
  .blog-card .card-meta {
    background-color: var(--prussian-blue);
    color: var(--white);
    text-align: center;
    font-size: var(--fs-5);
    font-family: var(--ff-oswald);
    font-weight: var(--fw-600);
    line-height: 1.5;
    max-width: max-content;
    margin-inline: auto 20px;
    margin-block: -80px 20px;
    padding: 20px 25px;
    box-shadow: -8px 8px 0 var(--dark-orange);
  }
  
  .blog-card .card-meta .span {
    color: var(--dark-orange);
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    line-height: 0.75;
  }
  
  .blog-card .card-text { margin-block: 15px; }


  /*-----------------------------------*\
    #CONTACTFORMS
  \*-----------------------------------*/


  .contact-form{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: none;
    padding: 30px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}
.forms{
    max-width: 800px;
    margin-top: 0 auto;
}
.contact-form h1{
    text-align: center;
    font-size: 5.5rem;
    font-weight: 700;
    color: #ff0000;
    font-family: var(--ff-oswald);
}
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-family: var(--ff-oswald);
    font-size: 30px;
    font-weight: 500;
    color: #ff0000;
    text-align: center;
}
.contact-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;
    font-family: var(--ff-oswald);
}
.content{
    flex-basis: 50%;
    padding: 3em 3em;
    background: #f0f4f8;
    box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}
.form-img img{
    max-width: 100%;
}
.contact-form form{
    margin: 30px 0;
}
.contact-form input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact-form input:focus{
    background: transparent;
    border: 1px solid #ff0202;
}
@media(max-width:736px){
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

.googlemap{
  width: 100%;
}

 /*-----------------------------------*\
    #FAQ
  \*-----------------------------------*/

  .wrapper {
    max-width: 75%;
    margin: auto;
  }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper > h1 {
    letter-spacing: 5px;
  }
  
  .accordion {
    background-color: white;
    color: rgba(255, 8, 8, 0.8);
    cursor: pointer;
    font-size: 2.0rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .accordion i {
    font-size: 1.6rem;
  }
  
  .active,
  .accordion:hover {
    background-color: #f1f7f5;
  }
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
  }
  .pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  .faq.active {
    border: none;
  }
  
  
  
  
  
  
  /*-----------------------------------*\
    #NEWSLETTER
  \*-----------------------------------*/
  
  .newsletter { background-color: var(--dark-orange); }
  
  .newsletter .img-holder {
    background-color: transparent;
    margin-block-end: 20px;
    max-width: max-content;
  }

  
  .newsletter .section-title { margin-block-end: 20px; }
  
  .email-field {
    background-color: var(--white);
    color: var(--eerie-black);
    font-size: var(--fs-9);
    height: 65px;
    padding-inline: 20px;
    margin-block-end: 10px;
    outline: none;
    transition: var(--transition);
  }
  
  .email-field:focus { box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.4); }
  
  .newsletter-btn {
    background-color: var(--prussian-blue);
    color: var(--white);
    font-family: var(--ff-oswald);
    font-weight: var(--fw-700);
    padding: 8px 20px;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
  
  .footer {
    background-color: var(--plutinum);
    color: var(--prussian-blue);
  }
  
  .footer-top {
    display: grid;
    gap: 40px;
  }
  
  .footer .logo {
    color: var(--green-blue-crayola);
    font-weight: var(--fw-800);
    font-size: 3.2rem;
  }
  
  .footer-text { margin-block: 10px 30px; font-family: var(--ff-rubik);}
  
  .social-list {
    display: flex;
    gap: 10px;
  }
  
  .social-link {
    background-color: var(--green-blue-crayola);
    color: var(--white);
    font-size: 20px;
    padding: 12px;
    transition: var(--transition);
  }
  
  .social-link:is(:hover, :focus) { background-color: var(--prussian-blue); }
  
  .footer-list-title {
    font-size: var(--fs-6);
    max-width: max-content;
    padding-block-end: 10px;
    border-block-end: 3px solid var(--dark-orange);
    margin-block-end: 20px;
    font-family: var(--ff-oswald);
  }
  
  .footer-link { padding-block: 6px; font-family: var(--ff-rubik); }
  
  .footer-bottom {
    padding-block: 40px;
    border-block-start: 1px solid var(--prussian-blue);
    font-size: var(--fs-9);
    color: var(--green-blue-crayola);
    font-family: var(--ff-oswald);
  }
  
  .copyright-link { display: inline-block; }

  
   /*-----------------------------------*\
    #TERMS AND CONDITIONS
  \*-----------------------------------*/
  
  
  
  
  
  /*-----------------------------------*\
    #BACK TO TOP
  \*-----------------------------------*/
  
  .back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--eerie-black);
    color: var(--white);
    font-size: 20px;
    padding: 10px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }
  
  .back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
  }
  
  
  
  
  
  /*-----------------------------------*\
    #MEDIA QUERISE
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 540px screen
   */
  
  @media (min-width: 540px) {
  
    /**
     * REUSED STYLE
     */
  
    .btn {
      font-size: var(--fs-7);
      padding-inline: 30px 60px;
    }
  
  
  
    /**
     * HEADER
     */
  
    .header-contact {
      color: var(--green-blue-crayola);
      display: flex;
      align-items: center;
      gap: 20px;
      text-align: right;
      line-height: 1.2;
      margin-inline-start: auto;
      font-family: var(--ff-oswald);
    }
  
    .header .contact-label {
      text-transform: uppercase;
      font-size: var(--fs-9);
    }
  
    .header .email-address {
      font-size: var(--fs-6);
      font-weight: var(--fw-600);
      letter-spacing: 1px;
    }
  
    .header .contact-icon {
      font-size: 35px;
      opacity: 100%;
    }
  
  
  
    /**
     * ABOUT
     */
  
    .about .abs-img-2 {
      display: block;
      position: absolute;
      width: 400px;
      bottom: 0;
      left: 50px;
      z-index: -1;
    }
  
    .about .abs-img-1 { right: -200px; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 640px screen
   */
  
  @media (min-width: 640px) {
  
    /**
     * REUSED STYLE
     */
  
    .h1 { --fs-3: 5rem; }
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
  
  
    /**
     * HEADER
     */
  
    .header .container { max-width: unset; }
  
    .header .logo { font-size: 3.5rem; }
  
  
  
    /**
     * HERO
     */
  
    .hero { justify-content: flex-start; }
  
    .hero .shape-1 { left: 45px; }
  
    .hero-content {
      background-color: transparent;
      text-align: left;
    }
  
    .hero-title .span { --fs-2: 6rem; }
  
    .hero-text { max-width: 30ch; }
  
    .btn-outline { margin-inline: 0; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
    .h1 { --fs-3: 6rem; }
  
    .grid-list { grid-template-columns: 1fr 1fr; }
  
  
  
    /**
     * HERO
     */
  
    .hero-title .span { --fs-2: 7rem; }
  
    .hero-text {
      font-size: var(--fs-7);
      max-width: 40ch;
      margin-block-end: 40px;
    }
  
    .btn-outline {
      font-size: var(--fs-7);
      padding: 12px 30px;
    }
  
  
  
    /**
     * FEATURES
     */
  
    .feature-card::before { --fs-1: 10rem; }
  
  
  
    /**
     * PROJECT
     */
  
    .project-list { gap: 80px; }
  
    .project-item { min-width: calc(50% - 40px); }
  
  
  
    /**
     * NEWSLETTER
     */
  
     .newsletter { margin-block-start: 110px; }
  
     .newsletter .container { position: relative; }
   
     .newsletter .newsletter-banner {
       position: absolute;
       bottom: -50px;
       left: 0;
       margin-block-end: 0;
     }
   
     .newsletter-content {
       max-width: 355px;
       margin-inline-start: auto;
     }
   
     .newsletter .section-title { --fs-4: 4rem; }
   
     .newsletter-btn {
       font-size: var(--fs-5);
       padding: 10px 30px;
     }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-top { grid-template-columns: 1fr 1fr; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-4: 4.5rem;
  
      /**
       * spacing
       */
  
      --section-padding: 120px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
    
    .container { max-width: 960px; }
  
    .h1 { --fs-3: 10rem; }
  
    .section-subtitle { --fs-6: 3rem; }
  
    .section-text {
      max-width: 70ch;
      margin-inline: auto;
    }
  
    .grid-list { grid-template-columns: repeat(3, 1fr); }
  
  
  
    /**
     * HEADER
     */
    
    .nav-open-btn,
    .navbar-top,
    .navbar-link > ion-icon { display: none; }
  
    .navbar,
    .navbar.active { all: unset; }
  
    .navbar-list {
      display: flex;
      gap: 10px;
    }
  
    .navbar-item:not(:last-child) { border-block-end: none; font-family: var(--ff-oswald);}
  
    .navbar-link {
      position: relative;
      font-size: unset;
    }
  
    .navbar-link:is(:hover, :focus-visible) {
      background: none;
      color: var(--green-blue-crayola);
    }
  
    .navbar-link::after {
      content: url("nav-img/nav-before-img.png");
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }
  
    .navbar-link:is(:hover, :focus-visible)::after { opacity: 1; }
  
    .header .btn {
      display: flex;
      padding: 12px 24px;
      font-size: var(--fs-5);
    }
  
  
  
    /**
     * HERO
     */
    
    .hero { grid-template-columns: 1fr; }
  
    .hero-content { padding: 0; }
  
    .hero-title .span { --fs-2: 12rem; }
  
  
  
    /**
     * ABOUT
     */
  
    .about .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
    }
  
    .about-banner { margin-block-end: 0; }
  
    .about .abs-img-1 { right: -100px; }
  
    .about :is(.section-title, .section-text) { margin-block-end: 35px; }
  
  
  
    /**
     * FEATURE
     */
  
    .feature .title-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: self-end;
    }
  
    .feature .section-text { margin-block-end: 0; }
  
    .feature-list { margin-block-start: 120px; }
  
    .feature-card { padding-block-start: 80px; }
  
    .feature-card::before {
      --fs-1: 16rem;
      position: absolute;
      top: -90px;
      left: 20px;
    }
  
  
  
    /**
     * PROJECT
     */
  
    .project-item { min-width: calc(33.33% - 53.33px); }
  
  
  
    /**
     * BLOG
     */
  
    .blog-list { grid-template-columns: 1fr 1fr; }
  
  
  
    /**
     * NEWSLETTER
     */
  
    .newsletter { padding-block: 30px; }
  
    .newsletter .newsletter-banner { bottom: -30px; }
  
    .newsletter-content {
      max-width: 600px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-top {
      grid-template-columns: repeat(4, 1fr);
      justify-items: self-end;
    }
  
    .copyright { text-align: center; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1180px; }
  
    .h1 { --fs-3: 12rem; }
  
  
  
    /**
     * HEADER
     */
  
    .header .contact-number { --fs-6: 3rem; }
  
  
  
    /**
     * HERO
     */
  
    .hero {
      padding-block-start: 150px;
      background-position: left;
    }
  
    .hero-title .span { --fs-2: 14rem; }
  
    .hero-text { --fs-7: 2.4rem; }
  
  
  
    /**
     * ABOUT
     */
  
    .about-banner { max-width: 370px; }
  
    .about .abs-img-2 { width: max-content; }
  
  
  
    /**
     * NEWSLETTER
     */
  
    .newsletter-content {
      max-width: 840px;
      grid-template-columns: 0.8fr 1fr;
    }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-top { padding-block: 60px; }
  
  }
  

  *{
   font-family: var(--ff-oswald);
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container-1{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container-1 .content{
   text-align: center;
}

.container-1 .content h3{
   font-size: 30px;
   color:#333;
}

.container-1 .content h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container-1 .content h1{
   font-size: 50px;
   color:#333;
}

.container-1 .content h1 span{
   color:crimson;
}

.container-1 .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container-1 .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container-1 .content .btn:hover{
   background: crimson;
}

.form-container-1{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container-1 form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container-1 form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container-1 form input,
.form-container-1 form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container-1 form select option{
   background: #fff;
}

.form-container-1 form .form-btn{
   background: #fbd0d9;
   color:crimson;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container-1 form .form-btn:hover{
   background: crimson;
   color:#fff;
}

.form-container-1 form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container-1 form p a{
   color:crimson;
}

.form-container-1 form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}